<div class="container">
    <div *ngIf="(basketService.basket$| async) === null">
     There are no products in your basket
    </div>
    <ng-container *ngIf="(basketService.basket$ | async) as basket">
        <div class="container">
            <div class="row">
                <app-selected-products 
                (decreaseProductEmit)="decreaseProduct($event)"
                (increaseProductEmit)="increaseProduct($event)"
                (deleteProductEmit)="deleteProduct($event)"
                ></app-selected-products>
            </div>
            <div class="row">
                <div class="col-6 offset-6">
                <app-summary-order></app-summary-order>
                <div>
                    <a routerLink="/checkout" class="btn btn-primary">
                        checkout
                    </a>
                </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
