<div class="container">
    <div *ngIf="(basketService.basket$| async) === null">
     There are no products in your basket
    </div>
    <ng-container *ngIf="(basketService.basket$ | async) as basket">
        <div class="container">
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light text-uppercase">
                            <tr>
                                <th>name</th>
                                <th>price</th>
                                <th>quantity</th>
                                <th>total</th>
                                <th>remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of basket.items">
                                <th class="cursor-poiter" routerLink="/dashboard/{{item.id}}">
                                    <div class="d-flex">
                                    <img src="{{item.pictureUrl}}" alt="{{item.productName}}" style="max-height: 50px;">
                                    <div>
                                        <p class="pb-0 mb-0">{{item.productName}}</p>
                                        <p class="text-muted fst-italic">{{item.type}}</p>
                                    </div>
                                    </div>
                                </th>
                                <th>{{item.price | currency: 'VND':'symbol':'1.0'}}</th>
                                <!-- <th>{{item.price | currency:'USD':'symbol':'1.2-2'}}</th> -->
                                <th>
                                    <button (click)="decreaseProduct(item)" class="btn btn-primary">-</button>
                                    {{item.quantity}}
                                    <button (click)="increaseProduct(item)" class="btn btn-primary">+</button>
                                </th>
                                <th>{{item.quantity * item.price | currency: 'VND':'symbol':'1.0'}}</th>
                                <th><i (click)="deleteProduct(item)" class="fa fa-trash default-font-size text-danger" aria-hidden="true"></i></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-6 offset-6">
                <app-summary-order></app-summary-order>
                <div>
                    <a routerLink="/checkout" class="btn btn-primary">
                        checkout
                    </a>
                </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
