.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.mat-step-icon{
    border-radius: 50%;
    border: solid 1px black !important;
    background: white;
}

.mat-step-icon-selected {
    background: greenyellow;
    color: white;
}

