<div class="mt-4" *ngIf="checkoutForm" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Shipping address</h4>
        <div class="d-flex gap-2">
            <button class="btn btn-outline-success mb-3" [disabled]="!checkoutForm.get('addressForm')?.valid || 
                                    !checkoutForm.get('addressForm')?.dirty">
                Save as default address
            </button>
            <button (click)="openDialog()" class="btn btn-outline-success mb-3">
                Choose another address
            </button>
        </div>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-input [label]="'First name'" formControlName="firstName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Last name'" formControlName="lastName"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'City'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'State'" formControlName="state"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Zip code'" formControlName="zipcode"></app-text-input>
        </div>
    </div>
</div>

<ng-template #modalContentTemplate>
    <h2>Custom Modal Content</h2>
    <p>This is a custom modal content.</p>
</ng-template>
<div *appDynamicModal="modalContentTemplate"></div>