<header class="p-3 bg-light text-black">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
            
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a class="nav-link px-2 text-black" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <i class="fa fa-home fa-2x" aria-hidden="true"></i>
            </a>
          </li>
          <!-- <li><a class="nav-link px-2 text-secondary"> Home</a></li> -->
          <li><a class="nav-link px-2 text-black" routerLink="/dashboard" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Products</a></li>
          <li><a class="nav-link px-2 text-black">Pricing</a></li>
          <li><a class="nav-link px-2 text-black">FAQs</a></li>
          <li><a class="nav-link px-2 text-black">
            About me
            <div class="tooltip">
              <app-tooltip>
                <span slot="my-tooltip">This is a tooltip</span>
              </app-tooltip>
            </div>
          </a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" data-listener-added_496d2ded="true">
        </form>

        <div class="text-end">
          <a routerLink="/basket" class="align-items-center mb-2 mb-lg-0 text-black text-decoration-none pe-2">
            <i class="cart fa fa-shopping-cart fa-2x" aria-hidden="true">
            <ng-container *ngIf="(basketService.basket$ | async) as basket">
              <span *ngIf="basket.items.length > 0" class="number-of-item">
                {{getTheNumberOfProduct(basket.items)}}
              </span>
            </ng-container>
            </i>
          </a>
          <ng-container *ngIf="(authService.user$ | async) as user">
            <span class="me-2">Welcome {{user.displayName}}</span>
            <button (click)="logout()" type="button" class="btn btn-outline-secondary me-2 ms-3">Logout</button>
          </ng-container>
          <ng-container *ngIf="(authService.user$ | async) == null">
            <button routerLink="/login" type="button" class="btn btn-outline-secondary me-2 ms-3">Login</button>
            <button routerLink="/register" type="button" class="btn btn-warning">Sign-up</button>
          </ng-container>
        </div>
      </div>
    </div>
  </header>