<!-- <div class="container-fluid fixed-top top-nav">
  <div class="container topbar bg-primary d-none d-lg-block">
    <div class="d-flex justify-content-between fw-bold py-1">
      <div class="top-info ps-2">
        <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123
            Street, New York</a></small>
        <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#"
            class="text-white">https://therichpost.com</a></small>
      </div>
      <div class="top-link pe-2">
        <a href="#" class="text-white"><small class="text-white mx-2">Privacy Policy</small>/</a>
        <a href="#" class="text-white"><small class="text-white mx-2">Terms of Use</small>/</a>
        <a href="#" class="text-white"><small class="text-white ms-2">Sales and Refunds</small></a>
      </div>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-light bg-white navbar-expand-xl  px-4">
      <a href="#" class="navbar-brand">
        <h1 class="text-primary display-6 fw-bold">Fruitables</h1>
      </a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            class="nav-item nav-link active">
            Home</a>
          <a class="nav-link px-2 text-black" routerLink="/dashboard" routerLinkActive="router-link-active"
            routerLinkActive="router-link-active">Shop</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
            <div class="dropdown-menu m-0 bg-secondary rounded-0">
              <a href="#" class="dropdown-item">Cart</a>
              <a href="#" class="dropdown-item">Chackout</a>
              <a href="#" class="dropdown-item">Testimonial</a>
              <a href="#" class="dropdown-item">404 Page</a>
            </div>
          </div>
          <a href="#" class="nav-item nav-link">Contact</a>
          <a class="nav-link px-2 text-black">
            About me
            <div class="tooltip">
              <app-tooltip>
                <span slot="my-tooltip">This is a tooltip</span>
              </app-tooltip>
            </div>
          </a>
        </div>
        <div class="d-flex m-3 me-0 align-items-center">

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" data-listener-added_496d2ded="true">
        </form>

        <div class="text-end">
          

        </div>
      </div>
    </nav>
  </div>
</div> -->

<section class="header-app header-wrap">
  <div class="header">
    <div class="container">
      <div class="h-left">
        <h1 class="logo"><a title="LOTTE Mart" href="/"><span>QUICK Mart</span></a></h1>
        <div class="locate-block dropdown">
          <button class="dropdown-toggle" data-bs-toggle="dropdown" type="button"
            aria-expanded="false"><span>District 1</span>
          </button>
          <div class="dropdown-menu false">
            <ul class="menu-content checked-type">
              <li class="active"><a href="#">District 7</a></li>
              <li class=""><a href="#">Go Vap District</a></li>
              <li class=""><a href="#">District 11</a></li>
              <li class=""><a href="#">Tan Binh District</a></li>
              <li class=""><a href="#">Hanoi Online Center</a></li>
              <li class=""><a href="#">Vinh</a></li>
              <li class=""><a href="#">Da Nang</a></li>
              <li class=""><a href="#">Nha Trang</a></li>
              <li class=""><a href="#">Phan Thiet</a></li>
              <li class=""><a href="#">Vung Tau</a></li>
              <li class=""><a href="#">Dong Nai</a></li>
              <li class=""><a href="#">Binh Duong</a></li>
              <li class=""><a href="#">Can Tho</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="search-block offcanvas offcanvas-end  ">
        <!-- <div class="search-form offcanvas-header">
          <div class="inner">
                     
          </div>
        </div> -->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search"
            data-listener-added_496d2ded="true">
        </form>
        <div class="search-dropdown offcanvas-body" style="display:none">
          <div class="inner">
            <div class="s-block-cols">
              <div class="item first">
                <div class="s-block kw-list ps-4m">
                  <h3>History</h3>
                </div>
              </div>
              <div class="item last">
                <div class="s-block">
                  <h3>Trending keywords</h3>
                  <ul class="top-kw">
                    <li><a href=""><strong class="number">1</strong><span class="txt">salmon</span></a></li>
                    <li><a href=""><strong class="number">2</strong><span class="txt">rice</span></a></li>
                    <li><a href=""><strong class="number">3</strong><span class="txt">milk</span></a></li>
                    <li><a href=""><strong class="number">4</strong><span class="txt">Coffee</span></a></li>
                    <li><a href=""><strong class="number">5</strong><span class="txt">cheese</span></a></li>
                    <li><a href=""><strong class="number">6</strong><span class="txt">phô mai</span></a></li>
                    <li><a href=""><strong class="number">7</strong><span class="txt">coffee</span></a></li>
                    <li><a href=""><strong class="number">8</strong><span class="txt">bia</span></a></li>
                    <li><a href=""><strong class="number">9</strong><span class="txt">thit heo ngon</span></a></li>
                    <li><a href=""><strong class="number">10</strong><span class="txt">Vinamilk</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h-right">
        <div class="item mob-s"><button type="button" class="icon icon-search"></button></div>
        <div class="item">
          <a routerLink="/basket" class="align-items-center mb-2 mb-lg-0 text-black text-decoration-none pe-4">
            <i class="cart fa fa-shopping-basket fa-2x" aria-hidden="true">
              <ng-container *ngIf="(basketService.basket$ | async) as basket">
                <span *ngIf="basket.items.length > 0" class="number-of-item">
                  {{getTheNumberOfProduct(basket.items)}}
                </span>
              </ng-container>
            </i>
          </a>
        </div>
        <div class="item mob-h d-flex align-items-center">
                    <ng-container *ngIf="(authService.user$ | async) as user">
                      <i class="fa fa-user-o fa-2x pe-2" aria-hidden="true"></i>
                      <span class="me-2">{{user.displayName}}</span>
                      <button (click)="logout()" type="button" class="btn btn-outline-danger me-2 ms-3">Logout</button>
                    </ng-container>
                    <ng-container *ngIf="(authService.user$ | async) == null">
                      <button routerLink="/login" type="button" class="btn btn-outline-danger me-2 ms-3">Login</button>
                      <button routerLink="/register" type="button" class="btn btn-warning">Sign-up</button>
                    </ng-container>
        </div>
        <div class="item dropdown">
          <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i>
        </div>
        <div class="item dropdown"><button class="dropdown-toggle btn-change-lang" role="button"
            data-bs-toggle="dropdown" type="button" aria-expanded="false"><img src="/assets/images/icon-en.svg"></button>
          <div class="dropdown-menu dropdown-menu-type" style="">
            <div class="inner">
              <ul class="menu-content checked-type languages">
                <li class=""><a title="Tiếng Việt"><img src="/assets/images/icon-vn.svg">Tiếng Việt</a></li>
                <li class="active"><a title="English"><img src="/assets/images/icon-en.svg">English</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-nav">
    <div class="container">
      <div class="inner">
        <div class="cate-menu">
          <div class="lbl" *ngIf="(this.service.category$ | async) as category">
            <app-dropdown [listItems]="category"></app-dropdown>
          </div>
        </div>
        <ul class="nav-content">
          <li class=""><a href="#" title="Home">Home</a></li>
          <li class=""><a class="nav-link px-2" routerLink="/shop" routerLinkActive="text-danger"
              routerLinkActive="router-link-active">Shop</a></li>
          <li class=""><a href="#" title="Hot Deals">Hot Deals</a></li>
          <li class=""><a href="#" title="Promotion">Promotion</a></li>
          <li class=""><a href="#" title="Best Sellers">Best Sellers</a></li>
          <li class=""><a href="#" title="New Arrivals">New Arrivals</a></li>
         <li class=""><a href="#" title="Special Events">Special Events</a></li>
          <li class=""><a href="#" title="Quick Order">Quick Order</a></li>
        </ul><button class="btn-more-item"></button>
      </div>
    </div>
  </div>
</section>