<div class="col" *ngIf="product">
    <div class="card shadow-sm custom-card">
        <img class="bd-placeholder-img card-img-top w-100" src="{{product.pictureUrl}}" alt="" height="225px"/>


        <div class="card-body">
            <p class="card-text">{{product.name}}</p>
            <p class="card-text">{{product.price}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button routerLink="/dashboard/{{product.id}}" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    <button (click)="addProductToBasket()" type="button" class="btn btn-sm btn-outline-secondary">Add</button>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
    </div>
</div>